backports.ssl-match-hostname (3.4.0.2)
Beaker (1.5.4)
blivet (1.0.10)
cffi (0.8.6)
chardet (2.2.1)
cheat (2.1.9)
configobj (5.0.5)
coverage (4.0a5)
cryptography (0.9)
cssselect (0.9.1)
decorator (3.4.0)
deluge (1.3.11)
di (0.3)
Django (1.8.1)
django-admin-bootstrapped (2.5.2)
django-axes (1.3.6)
django-bootstrap3 (5.4.0)
django-easy-pjax (1.2.0)
django-extensions (1.5.3)
django-grappelli (2.6.5)
django-material (0.4.1)
Django-Select2 (4.3.1)
django-suit (0.2.13)
django-utils (0.0.2)
django-widget-tweaks (1.3)
dnf-langpacks (0.10.0)
docopt (0.6.2)
ecdsa (0.11)
enum34 (1.0.4)
fedup (0.9.2)
GeoIP-Python (1.2.8)
html5lib (0.99999)
humanize (0.5.1)
idna (1.0)
iniparse (0.4)
initial-setup (0.3.31)
ipaddress (1.0.7)
IPy (0.81)
kitchen (1.2.1)
langtable (0.0.34)
lxml (3.3.6)
Mako (1.0.1)
MarkupSafe (0.23)
mugshot (0.2.5)
nose (1.3.7)
ntplib (0.3.2)
numpy (1.9.2)
paramiko (1.15.2)
Paste (1.7.5.1)
pexpect (3.1)
Pillow (2.8.2)
pip (6.0.8)
ply (3.4)
psycopg2 (2.6)
pwquality (1.2.4)
pyasn1 (0.1.7)
pyBarcode (0.7)
pycparser (2.10)
pycrypto (2.6.1)
pycryptopp (0.6.0.1206569328141510525648634803928199668821045408958)
pycurl (7.19.5.1)
pygame (1.9.1release)
Pygments (2.0.2)
pygobject (3.16.2)
pygpgme (0.3)
pyinotify (0.9.6)
PyIscsi (1.0)
pykickstart (1.99.66)
pyliblzma (0.5.3)
pyOpenSSL (0.14)
pyparsing (2.0.3)
pyparted (3.10.4)
pyserial (2.7)
python-augeas (0.5.0)
python-distutils-extra (2.38)
python-dmidecode (3.10.13)
python-libtorrent (1.0.4)
python-meh (0.40)
python-nss (0.16.0)
pytz (2012d)
pyudev (0.16.1)
pyxattr (0.5.3)
PyXB (1.2.4)
pyxdg (0.25)
rencode (1.0.3)
requests (2.7.0)
rpm-python (4.12.0.1)
setproctitle (1.1.6)
setuptools (17.1.1)
six (1.9.0)
slip (0.6.1)
slip.dbus (0.6.1)
South (1.0.2)
SSSDConfig (1.12.5)
Tempita (0.5.1)
Twisted (14.0.2)
urlgrabber (3.10.1)
urllib3 (1.10.2)
vboxapi (1.0)
yum-langpacks (0.4.5)
yum-metadata-parser (1.1.4)
zope.event (4.0.3)
zope.interface (4.1.1)
